@import "../../../styles/mixins.less";

@code-color: #25C786;
@events-color: #C72573;
@events-per-minute-color: #C7C725;
@code-bg-color: #000;
@sidebar-width: 25em;
@sidebar-collapsed-width: 3em;

.dash-sidebar {
  background-color:fade(@bg-color, 75%);
  height:100vh;
  width: @sidebar-collapsed-width;
  position: fixed;
  overflow-y:auto;
  .thin-scrollbar(3px, @bg-color);

  &.open {
    width:@sidebar-width;

    i.fa-chevron-right:before {
      content: "\f053";
    }
  }
}

.dash-sidebar + .dash-main {
  margin-left: @sidebar-collapsed-width;
}

.dash-sidebar.open + .dash-main {
  margin-left: @sidebar-width;
}

.hide-closed {
  display: none;
}

.open .hide-closed {
  display: initial;
}

.open .collapse-container {
  align-items: flex-end;
}

.collapse-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 1em 0 1em;

  i {
    color: #bbb;
    font-size: 1.5em;
    cursor: pointer;
  }
}

.user {
  text-align: center;
}
.user *{
  vertical-align:middle;
}
.user img{
  border-radius: 100%;
  height:5em;
}
.user span.name{
  display:inline-block;
  margin-left:0.5em;
  color: @text-color;
  font-size:2em;
}
.code-block, .total-block{
  text-align: center;
  color: @text-color;
  margin-top:3em;
  ~ .code-block, ~ .total-block{
    margin-top:1em;
  }

  .code-label, .total-label{
    font-size: 1.25em;
    color: @text-color;
  }

  .total {
    height:1.5em;
    font-size:4em;
  }

  &.events .total{
    color:@events-color;
  }
  &.events-per-minute .total{
    color:@events-per-minute-color
  }

  code{
    padding:0.5em;
    white-space: nowrap;
    text-align:left;
    font-size:1em;
    background-color:@code-bg-color;
    color:@code-color;
    border-radius: 0;
    width: 87%;
    display: block;
    margin: 0 auto;
    overflow:hidden;
    overflow-x: auto;
    .thin-scrollbar(3px, @code-bg-color);
  }
}

.dash-main{
  color:white;
  background-color:rgba(0,0,0,0.5);
  height:100vh;
  margin-left:@sidebar-width;
}

.sidebar-spinner{
    padding-top:2em;
    font-size:3em;
    color:@text-color;
    text-align:center;
}

.subroute-spinner{
    font-size:1.5em;
    color:@text-color;
    position:absolute;
    bottom:0;
}
