@import "../../../../styles/mixins.less";

@default-color: #888;
@success-color: #32CD32;
@code-bg-color: #000;

.console-wrapper{
  height:100vh;
  position:relative;
  .console{
    position:absolute;
    overflow-y: auto;
    max-height: 100%;
    bottom:0;
    width: 100%;
    .thin-scrollbar(6px, @default-color);
  }
}

.message{
  color:@default-color;
  &.success{
    color:@success-color;
  }
}
