@import "../../../../styles/mixins.less";

@default-color: #888;
@success-color: #32CD32;
@code-bg-color: #000;

.console-wrapper{
  height:100vh;
  position:relative;
  .console{
    padding-left:0.5em;
    font-size:1.25em;
    position:absolute;
    overflow-y: auto;
    max-height: 100%;
    bottom:0;
    width: 100%;
    .thin-scrollbar(6px, darken(#25c786, 30%), 10px);
  }
}

.message{
  color:@default-color;
  &.success{
    color:@success-color;
  }
}

.time{
  color: darken(@default-color, 15%);
  margin-left:0.5em;
  display:inline-block;
}

.event {
  .type{
    color:#E78839;
    cursor:pointer;
  }
  .action{
    color:#15D7FA;
    margin-left:0.5em;
  }
  .actor{
    color:#C72573;
    margin-left:0.5em;
  }
  .hidden{
    display:none;
  }
}
.event-json{
  font-size:0.75em !important;
  color:#fff;
  background-color:rgba(0,0,0,0);
  border:none;
  padding:0;
}
